<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.a60440.collegestudent">

    <application
        android:allowBackup="true"
        android:icon="@drawable/cover"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.example.a60440.collegestudent.App"

        >
        <activity
            android:name=".activity.MainActivity"
            android:label="大学生端"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"
            >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.example.a60440.collegestudent"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity android:name=".activity.LoginActivity">


        </activity>
        <activity android:name=".activity.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity android:name=".activity.VideoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            ></activity>
        <activity android:name=".activity.VedioManegerActivity"
            android:label="大学生端"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity android:name=".activity.AddAnswerActivity"></activity>
        <activity android:name=".activity.FriendMainActivity"></activity>
        <activity android:name=".activity.SignupActivity"></activity>
        <activity android:name=".activity.QuestionContentActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            >



        </activity>
        <activity android:name=".activity.StudentCourseInfo"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" >

            <intent-filter>
                <data android:scheme="tencent1105989925" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>





        </activity>
        <activity android:name=".activity.ContactActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity android:name=".activity.FriendRequestActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity android:name=".activity.PersonalInfoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity android:name=".activity.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity android:name=".activity.ChatActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="com.example.a60440.collegestudent"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong"/>
            </intent-filter>


        </activity>
        <activity android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MyAnswersActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity android:name=".activity.PairStudentActivity"
            android:theme="@style/AppTheme.NoActionBar"
            >


        </activity>
        <activity android:name=".activity.StudentDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".activity.StudentInfoActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activity.UnpairStudentActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activity.ChangePwdActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>
        <activity android:name=".activity.GroupsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            ></activity>


        <provider
       android:authorities="com.example.a60440.collegestudent.FileProvider"
       android:exported="false"
       android:name="android.support.v4.content.FileProvider"
       android:grantUriPermissions="true">
       <meta-data
            android:resource="@xml/rc_file_path"
           android:name="android.support.FILE_PROVIDER_PATHS" />

   </provider>

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"  />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"  />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

</manifest>