<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a60440.collegestudent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication"
        >
        <activity
            android:name=".activity.MainActivity"
            android:label="大学生端"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activity.SettingActivity"></activity>
        <activity android:name=".activity.VideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            ></activity>
        <activity android:name=".activity.VedioManegerActivity"></activity>
        <activity android:name=".activity.QuestionContentActivity"></activity>
        <activity android:name=".activity.FriendMainActivity"></activity>
        <activity android:name=".activity.ChattingActivity"></activity>
        <activity android:name=".activity.SignupActivity"></activity>
    </application>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>